<h2>Customer Testimonials*</h2>
<h3>George Washington</h3>
<em class="location">Washington, D.C.</em>
<p>
  "They say I never lied, but I once stole Bitcoin from my mother's purse just to buy some Bitcrap."
</p>
<h3>Vladimir Lenin</h3>
<em class="location">Москва, Россия</em>
<p>
  "Communism would have worked if Bitcrap was around because everyone would be happy spending the little money they got."
</p>
<h3>Winston Churchill</h3>
<em class="location">London, England</em>
<p>
  "Never has my wench so appreciated a gift as the one I bought her from Bitcrap."
</p>
<h3>Michael Moore</h3>
<em class="location">Micronesia</em>
<p>
  "I hate Bitcrap. They never send me anything edible."
</p>
<h3>Vladimir Putin</h3>
<em class="location">Владивосток, Россия</em>
<p>
  "I can fly women in from all over the world, I have tigers as pets, but nothing excites me more than receiving a gift from Bitcrap."
</p>
<p class="disclaimer">* Although it should go without saying, these testimonials are not real and for comedic purposes only.</p>