<div class="boring-text center-box">
  <h2>Privacy Policy</h2>

  <p>Here at Bitcrap, we take your privacy very seriously. Personal information is only collected to take and fulfill orders.</p>

  <p>Customer Information may be sent to limited third parties who provide payment processing or shipping services. We do not share or sell any information collected for monetary gain.</p>

  <p>Google Analytics is used to anonymously track the behavior of visitors to our site.</p>

  <p>Any changes to this policy will be made public with a 30-day notice to all current customers.</p>


  <h3>Third Party Privacy Policies</h3>
  <p>MaiCoin.com is used for Bitcoin payment processing. Their privacy policy is located <a href="https://maicoin.com/privacy">here</a>.</p>
</div>