* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

// utilities

.center-box {
  display: block;
  margin: 0 auto;
}

.left {
  float: left;
}


//
.container {
  width: 800px;
  margin: 0 auto;
}

#checkout {
  width: 500px;
}

// forms

.form-control {
  width: 100%;
  margin: 5px 5px 5px 0;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border: 1px solid #AAA;
  border-radius: 5px;
}

.radio-buttons {
  font-size: 16px;
  background-color: #FFCD5F;
  padding: 10px;
  border-radius: 5px;

  .radio-buttons-main-label {
    margin-right: 20px;
  }

  input[type="radio"] {
    width: 30px;
    height: 15px;
  }
}

.form-inline {
  .form-control {
    display: inline-block;
    margin: 5px 0;
    width: 32.8%;
  }
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn {
  height: 40px;
  width: 200px;
  -webkit-appearance: button;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 40px;
  background-color: lightgreen;
  border: none;
  -webkit-appearance: none;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;

  &:hover {
    background-color: green;
    color: #FFF;
  }
}


// lists

ul {
  list-style: none;
}

// tables

table {
  width: 100%;
  font-size: 16px;

  .table-label {
    // text-align: right;
    font-weight: bold;
  }

  .table-data {
    text-align: left;
  }

  tr {
    border-bottom: solid 1px #DDD;
  }

  td {
    padding: 10px;
  }
}


// errors

.errors {
  background-color: #F7BED8;
  border-radius: 5px;

  li {
    padding: 5px 0;
    font-weight: bold;
  }
}
.masthead, .featurette {
  height: 150px;
  width: 100%;
  text-align: center;
}