// variables

$dark_green: green;
$light_green: lightgreen;
$dark_green: #528C4B;
$mobile_breakpoint: 640px;

@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

// utilities

.center-box {
  display: block;
  margin: 0 auto;
}

.left {
  float: left;
}

.underline {
  text-decoration: underline;
}


// General

.navbar, .footer {
  // background-color: #222;
  color: #FFF;
  width: 100%;
  text-align: center;
}


.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  vertical-align: center;
}

.footer {
  bottom: 0;
  color: black;
}

.logo {
  h1 {
    margin: 0;
    font-size: 40px;
  }
}

.tagline {
  float: right;
}

.masthead, .footer {
  border-bottom: solid 1px lightgray;
  background-color: $dark_green;
  padding: 15px 20px;
  color: white;

  a {
    color: white;
  }
}

.masthead, .featurette {
  height: auto;
  width: 100%;
  display: block;
}

.masthead .masthead-box {
  display: inline-block;
}

.container {
  width: 900px;
  min-height: 800px;
  margin: 0 auto;
}

.main-container {
  padding: 20px;
  margin: 0 0 30px 0;

  h3 {
    margin-bottom: 0;
  }

  .business-description {
    text-align: center;
  }

  .showcase, .checkout-box {
    display: inline-block;
    vertical-align: top;
  }

  .showcase {
    margin-top: 20px;
    width: 420px;
    color: #999;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .checkout-box {
    margin-top: 50px;
    margin-left: 20px;
    width: 400px;
  }

  .directions {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #EEE;
  }
}

// forms

.form-control {
  width: 100%;
  margin: 5px 5px 5px 0;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border: 1px solid #AAA;
  border-radius: 5px;
}

.radio-buttons {
  font-size: 16px;
  background-color: #FFCD5F;
  padding: 10px;
  border-radius: 5px;

  .radio-buttons-main-label {
    margin-right: 20px;
  }

  input[type="radio"] {
    width: 30px;
    height: 15px;
    margin-right: -10px;
  }

  label {
    margin-right: 10px;
  }
}

.form-inline {
  .form-control {
    display: inline-block;
    margin: 5px 0;
    width: 32.8%;
  }
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn {
  height: 40px;
  width: 200px;
  -webkit-appearance: button;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 35px;
  background-color: $light_green;
  border: none;
  -webkit-appearance: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  color: #000;

  &:hover {
    background-color: $dark_green;
    color: #FFF;
  }
}


// lists

ul {
  list-style: none;
}

// tables

table {
  width: 100%;
  font-size: 16px;

  .table-label {
    // text-align: right;
    font-weight: bold;
  }

  .table-data {
    text-align: left;
  }

  tr {
    border-bottom: solid 1px #DDD;
  }

  td {
    padding: 10px;
  }
}

// links

a {
  text-decoration: none;
}


// errors

.errors {
  background-color: #F7BED8;
  border-radius: 5px;

  li {
    padding: 5px 0;
    font-weight: bold;
  }
}

.start-over {
  padding-top: 10px;
  text-align: center;
}


// animations

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.animation-slide-in-right {
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.animation-pulse-color {
  -webkit-animation-name: pulseColor;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulseColor {
  0% {
    background-color: $light_green;
    color: #000;
  }

  50% {
    background-color: $dark_green;
    color: #FFF;
  }

  100% {
    background-color: $light_green;
    color: #000;
  }
}

@keyframes pulseColor {
  0% {
    background-color: $light_green;
    color: #000;
  }

  50% {
    background-color: $dark_green;
    color: #FFF;
  }

  100% {
    background-color: $light_green;
    color: #000;
  }
}

@keyframes hinge {
  0% {
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 700px, 0);
    color: brown;
  }
}

@-webkit-keyframes hinge {
  0% {
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: 45% 50% 0;
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate3d(0, 700px, 0);
    color: brown;
  }
}

.animation-hinge {
  animation-name: hinge;
  -webkit-animation-name: hinge;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@media screen and (max-width: $mobile_breakpoint) {
  .hide_mobile {
    display: none;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .masthead {
    text-align: center;
  }

  .main-container {
    padding: 0;
  }

  .main-container .checkout-box {
    width: 100%;
    margin: 0;
  }

  .main-container .showcase {
    width: 100%;
  }

  .featurette .sub-featurette {
    padding: 0 2px;
  }
}