<!DOCTYPE html>
<html>
<head>
  <title>Bitcrap - The store of the future</title>
  <meta name="description" content="Buy random mail order gifts with Bitcoin."
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <div class="masthead">
        <div class="logo masthead-box">
          <a href="/"><h1 class="animation-hinge">Bitcrap</h1></a>
        </div>
        <div class="tagline masthead-box">
          <h2 class="hide_mobile">The Store of the Future</h2>
        </div>
      </div>

      <%= yield %>
      <div class="footer">
        &copy; 2014 &nbsp; Bitcrap, Inc.</a>
      </div>
    </div>
  </body>
</html>
