<!DOCTYPE html>
<html>
<head>
  <title>BitcrapRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <a href="/"><h1 class="animation-hinge">Bitcrap</h1></a>
</div>

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  A MaiCoin Project
</div>
</body>
</html>
